/* Primary Color:
#003366 (Deep Blue)

Secondary Colors:
#FFFFFF (White)
#F5F5F5 (Light Gray)
#FFCC00 (Golden Yellow)

Accent Colors:
#FF6600 (Orange)
#009933 (Green)
#CC0000 (Red) */

.main_wrapper {
  /* position: fixed; */
  display: flex;
  height: 80px;
}
.logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.logo {
  width: 200px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.top_right_bar {
  display: flex;
  flex-direction: row;
}
.top_nav_bar {
  display: flex;
}
.nav_link:hover {
  color: black;
}
.nav_link {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-wrap: nowrap;
  /* background-color: rgb(0, 204, 255);
  padding: 10px;
  border: 0px;
  border-radius: 10px; */
}
.site_header {
  background-color: #343a40;
}
